button, input{
    padding: 10px;
    cursor: pointer;
    margin-left: 1rem;
}

#submit{
    background-color: green;
    color: #fff;
}

#valorFinal1{
    display: flex;
    align-items: center;
}

#valorFinal2{
    display: flex;
    align-items: center;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 3rem;
    font-weight: 700;
}

p{
    line-height: 2em;
    font-weight: 1000;
    font-size: 1.5rem;
}

.hide{
    display: none;
}